* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #fff;
    padding: 20px 0;
    text-transform: uppercase;
    color: #000;
}

.container {
    width: 100%;
    max-width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}

.cont-head {
    width: 1000px;
    margin: 0 auto;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar a {
    display: inline-block;
    text-decoration: none;
    color: #000;
}

.logo {
    font-size: 30px;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-item a {
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    color: #000;
}

.nav-item:hover {
    background-color: white;
}

.nav-item:hover a {
    color: rgb(48, 48, 211);
}


.banner {
    width: 100%;
    max-width: 1200px;
    display: flex;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}

h1 {
    font-size: 60px;
}

.banner-img {
    right: 0px;
    top: 0px;
    z-index: -1;
}

.virtical-text {
    writing-mode: vertical-rl;
    position: absolute;
    right: -20px;
    top: 50px;
}

.banner-text button {
    margin-top: 20px;
    padding: 10px 15px;
    border: none;
    background-color: darkblue;
    color: #fff;
    border-radius: 10px 10px;
}

.about {
    width: 100%;
    max-width: 1200px;
    display: flex;
    padding-right: 15px;
    padding-left: 15px;
    margin-top: 15px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}

.about-text {
    padding: 20px;
    margin: auto 0;
    text-align: start;
}

.about-text a {
    color: blue;
    text-decoration: none;
    border-bottom: solid 2px blue;
}

.statistics {

    width: 100%;
    display: flex;
    padding: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-image: url(assets/photos/about-text2.jpg);
    background-size: cover;
    position: relative;
    justify-content: center;
    gap: 80px;
}

.statistics b {
    color: #fff;
    font-size: 18px;
    text-align: center;
}

.statistics h5 {
    color: #fff;
    font-size: 35px;
    text-align: center;
}

.works {
    width: 100%;
    max-width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}

.works-title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

h2 {
    color: #000;
    font-size: 25px;
}

.works-boxes {
    display: flex;
    justify-content: space-between;
    gap: 80px;
    margin-top: 40px;
}

.works-boxes i {
    font-size: 30px;
}

.works-boxes i {
    text-transform: uppercase;
}

.services-boxes {
    width: 100%;
    max-width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
    margin-top: 60px;
    margin-bottom: 20px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    gap: 50px;
}

.main-column {
    width: 30%;
}

.services-boxes h4 {
    font-size: 22px;
    margin-bottom: 10px;
}

.services-boxes i {
    font-size: 30px;
    margin-bottom: 10px;
}

.side-column {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
}

.side-column span {
    width: 45%;
    margin: 10px;
    padding: 25px;
    background-color: gray;
}

.featured {
    width: 100%;
    max-width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
    margin-top: 60px;
    margin-bottom: 20px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
}

.featured a {
    text-transform: uppercase;
    color: dimgrey;
    margin-top: 25px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.card-img {
    width: 25%;

}

.card-img img {
    width: 100%;
}

.opinines {
    margin-top: 60px;
    margin-bottom: 60px;
    background-color: gray;
}

.head {
    max-width: 800px;
    width: 100%;
    margin: auto;
}

.opinines-box {
    width: 100%;
    max-width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
    margin-top: 60px;
    margin-bottom: 60px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.opinines-box img {
    max-width: 100px;
    margin-top: 40px;
}

.opinion {
    max-width: 25%;
}

.dotes {
    margin-top: 40px;
    padding: 25px;
    font-size: 18px;
    color: dimgrey;
    text-align: center;
}

.dotes i:hover {
    cursor: pointer;
}

.team {
    width: 100%;
    max-width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
    margin-top: 60px;
    margin-bottom: 60px;
    margin-right: auto;
    margin-left: auto;
}

.team-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.team-box div {
    max-width: 20%;
    margin: 40px 40px;
    text-align: center;
}

.team-box img {
    max-width: 200px;
}

.recent {
    margin-top: 60px;
    margin-bottom: 60px;
    padding: 40px;
    background-color: gray;
}

.head-title {
    max-width: 1200px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: auto;
}
.head-title b {
    max-width: 800px;
}

.title-blog {
    max-width: 1200px;
    width: 100%;
    margin: 40px auto;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.title-blog img {
    max-width: 300px;
}

.blog-box {
    max-width: 300px;
    
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.blog-box b {
    max-width: 80px;
    text-align: end;
}
.blog-box h4 {
    max-width: 200px;
}
