@font-face {
    font-family: roboto;
    src: url(assets/fonts/Roboto-Black.ttf);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: roboto;
}

header {
    background-color: #fff;
    padding: 20px 0;
    text-transform: uppercase;
    color: #0d0d0d;
}
strong {
    color: #9e9e9e;
}
b {
    color: #9e9e9e;
}

.container {
    width: 100%;
    max-width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}

.cont-head {
    width: 1000px;
    margin: 0 auto;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fafafa;
}

.navbar a {
    display: inline-block;
    text-decoration: none;
    color: #0d0d0d;
}

.logo {
    font-size: 30px;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-item a {
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    color: #0d0d0d;
}

.nav-item:hover {
    background-color: white;
}

.nav-item:hover a {
    color: #7c89b6;
}


.banner {
    width: 100%;
    max-width: 1200px;
    display: flex;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}

h1 {
    font-size: 60px;
}

.banner-img {
    right: 0px;
    top: 0px;
    z-index: -1;
}

.virtical-text {
    writing-mode: vertical-rl;
    position: absolute;
    right: -5px;
    top: 200px;
}

.banner-text button {
    margin-top: 20px;
    padding: 10px 15px;
    border: none;
    background-color: #0034c8;
    color: #fff;
    border-radius: 10px 10px;
}

.about {
    width: 100%;
    max-width: 1200px;
    display: flex;
    padding-right: 15px;
    padding-left: 15px;
    margin-top: 15px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}

.about-text {
    padding: 20px;
    margin: auto 0;
    text-align: start;
}

.about-text a {
    color: #0034c8;
    text-decoration: none;
    border-bottom: solid 2px #0034c8;
}

.statistics {

    width: 100%;
    display: flex;
    padding: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-image: url(assets/photos/about-text2.jpg);
    background-size: cover;
    position: relative;
    justify-content: center;
    gap: 80px;
}

.statistics b {
    color: #fff;
    font-size: 18px;
    text-align: center;
}

.statistics h2 {
    color: #fff;
    font-size: 35px;
    text-align: center;
}

.works {
    width: 100%;
    max-width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}

.works-title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

h2 {
    color: #0d0d0d;
    font-size: 25px;
    padding: 20px 0;
    text-transform: uppercase;
}

.works-boxes {
    display: flex;
    justify-content: space-between;
    gap: 80px;
    margin-top: 40px;
}

.works-boxes i {
    font-size: 30px;
}

.works-boxes i {
    text-transform: uppercase;
}

.services-boxes {
    width: 100%;
    max-width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
    margin-top: 60px;
    margin-bottom: 20px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    gap: 50px;
}

.main-column {
    width: 30%;
}

.services-boxes h2 {
    font-size: 22px;
    margin-bottom: 10px;
}

.services-boxes i {
    font-size: 30px;
    margin-bottom: 10px;
}

.side-column {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
}

.side-column div {
    width: 45%;
    margin: 10px;
    padding: 25px;
    background-color: #fafafa;
}
.side-column b {
    color: #0d0d0d;
}
.side-column i {
    color: #0034c8;
}

.featured {
    width: 100%;
    max-width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
    margin-top: 60px;
    margin-bottom: 20px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
}

.featured a {
    text-transform: uppercase;
    color: dimgrey;
    margin-top: 25px;
}
.featured nav {
    background-color: #fff;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.card-img {
    width: 25%;

}

.card-img img {
    width: 100%;
}

.opinines {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #fafafa;
}
.opinines b {
    color: #0d0d0d;
}


.head {
    max-width: 800px;
    width: 100%;
    margin: auto ;
    padding-top: 40px;
}

.opinines-box {
    width: 100%;
    max-width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
    margin-top: 60px;
    margin-bottom: 60px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.opinines-box img {
    max-width: 100px;
    margin-top: 40px;
}

.opinion {
    max-width: 25%;
}

.dotes {
    margin-top: 40px;
    padding: 25px;
    font-size: 18px;
    color: dimgrey;
    text-align: center;
}
.dotes > i:first-of-type{color:blue;}

.dotes i:hover {
    cursor: pointer;
}

.team {
    width: 100%;
    max-width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
    margin-top: 60px;
    margin-bottom: 60px;
    margin-right: auto;
    margin-left: auto;
}

.team-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.team-box div {
    max-width: 20%;
    margin: 40px 40px;
    text-align: center;
}

.team-box img {
    max-width: 200px;
}

.recent {
    margin-top: 60px;
    margin-bottom: 60px;
    padding: 40px;
    background-color: #fafafa;
}
.recent b {
    color: #0d0d0d;
}

.head-title {
    max-width: 1200px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.head-title b {
    max-width: 800px;
}

.title-blog {
    max-width: 1200px;
    width: 100%;
    margin: 40px auto;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.title-blog img {
    max-width: 300px;
}

.blog-box {
    max-width: 300px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.blog-box b {
    max-width: 80px;
    text-align: end;
    font-size: 13px;
    color: #727272;
}

.blog-box h2 {
    max-width: 200px;
    font-size: 16px;
    padding: 0;
    margin: 0;
}

.clenets {
    width: 100%;
    max-width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
    margin-top: 60px;
    margin-bottom: 60px;
    margin-right: auto;
    margin-left: auto;
}

.clenets-title {
    max-width: 1200px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.clients {

    margin: 40px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}

.clients span {
    padding: 20px 30px;
    border: 1px solid gray;
}

.clients span:hover {
    cursor: pointer;
    background-color: gray;
}

footer {
background-color: #131313;
    margin: 20px;
    padding: 20px;
    color: #727272;
}
footer h2 {
    color: #727272;
    text-decoration: solid;
}

.sections {
    width: 100%;
    max-width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
    margin-top: 60px;
    margin-bottom: 60px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.media div {
text-align: center;
}
.media i {
    height: 40px;
    width: 40px;
    font-size: 16px;
    padding-top: 10px;
    
    border: 2px solid #727272;
    border-radius: 100%;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: #727272;
}


.sections li {
    
        list-style-type: "→";
      }
      .sections li a {
        text-decoration: none;
        color: #727272;
      }   
      .sections li a:hover {
        color: #0034c8;
        cursor: pointer;
      }

.sections div {
    max-width: 33.333333%;
}
.newsleeter button {
    padding: 15px 40px;
    background-color: #727272;
    color: #0d0d0d;
    display: block;
}

.copyrights {
    text-align: center;
}


@media (max-width: 1199px) {
    .navbar {
        padding: 5px;
        width: fit-content;
    }

    .banner {
        display: block;
        width: fit-content;
        padding: 5px;
    }
    .virtical-text {
        position: static;
        writing-mode: horizontal-tb;
        margin: 5px auto;
    }
    .banner-text button {
        margin: 20px 50%;
        width: 150px;
    }
    .banner-img img {
        width: 100%;
    }
    .about {
        display: block;
        width: fit-content;
    }
    .about img {
        width: 100%;
    }
    .statistics {
        width: fit-content;
    }
    .works {
        width: fit-content;
    }
    .services-boxes {
        width: fit-content;
    }
    .featured {
        width: fit-content;
    }
   .opinines {
    width: fit-content;
   }
   .head {
    display: block;
   }
 .sections {
    width: fit-content;
 }
.sections div {
    max-width: 50%;
}

}

@media (max-width: 991px) {
    .navbar {
        padding: 5px;
        width: fit-content;
    }

    .banner {
        display: block;
        width: fit-content;
        padding: 5px;
    }
    .virtical-text {
        position: static;
        writing-mode: horizontal-tb;
        margin: 5px auto;
        
    }
    .banner-text button {
        margin: 20px 50%;
        width: 150px;
    }
    .banner-img img {
        width: 100%;
    }
    .about {
        display: block;
        width: fit-content;
    }
    .about img {
        width: 100%;
    }
    .statistics {
        width: fit-content;
    }
    .works {
        width: fit-content;
    }
    .works-title {
        width: 100%;
        display: block;
    }
    .works-boxes {
        width: 100%;
        display: block;
        margin: 10px auto;
    }
    .works-boxes div {
        margin: 10px auto;
    }
    .services-boxes {
        width: 100%;
        display: block;
    }
    .main-column {
        width: 100%;
    }
    .side-column {
        width: 100%;
    }
    .featured {
        display: block;
        width: 100%;
    }
   
    .card-img {
        width: 33.333333%;
    }
    .opinines {
        width: fit-content;
       }
       .opinines-box {
        display: block;
       }
     .opinion{
        max-width: 100%;
        margin: 5px auto;
       }
      
       .team {
        width: fit-content;
       }
       .team-box div{
       width: 40%;
       }
       .head-title {
        display: block;
        max-width: 100%;
       }
       .clenets-title {
        display: block;
        max-width: 100%;
       }
       .sections {
        width: fit-content;
     }
    .sections div {
        max-width: 50%;
    }
}

@media (max-width: 767px) {
    .navbar {
        display: block;
        padding: 5px;
        width: 100%;
        text-align: center;
    }
    .nav-links {
        display: block;
        padding: 5px;
        width: 100%;
    }

    .banner {
        display: block;
        width: fit-content;
        padding: 5px;
    }
    .virtical-text {
        position: static;
        writing-mode: horizontal-tb;
        margin: 5px auto;
    }
    .banner-text button {
        margin: 20px 50%;
    }
    .banner-text button {
        margin: 20px 50%;
        width: 150px;
    }
    .banner-img img {
        width: 100%;
    }
    .about {
        display: block;
        width: fit-content;
    }
    .about img {
        width: 100%;
    }
    .statistics {
        width: 100%;
        display: block;
        text-align: center;
    }
    .statistics div {
        width: 100%;
    }
    .works {
        width: 100%;
    }
    .works-title {
        width: 100%;
        display: block;
    }
    .works-boxes {
        width: 100%;
        display: block;
        margin: 10px auto;
    }
    .works-boxes div {
        margin: 10px auto;
    }

    .services-boxes {
        width: 100%;
        display: block;
    }
    .main-column {
        width: 100%;
    }
    .side-column {
        width: 100%;
    }
    .featured {
        display: block;
        width: 100%;
    }
    
    .card-img {
        width: 50%;
    }
    .opinines {
        width: fit-content;
       }
       .opinines-box {
        display: block;
       }
       .opinion{
        max-width: 100%;
        margin: 5px auto;
       }
       .team {
        width: fit-content;
       }
       .team-box {
        display: block;
        width: 100%;
        
       }
       .team-box div {
       width: 100%;
       margin: 5PX auto;
       text-align: center;
       }
       .head-title {
        display: block;
        max-width: 100%;
       }
       .clenets-title {
        display: block;
        max-width: 100%;
       }
       .sections {
        width: fit-content;
        display: block;
     }
    .sections div {
        max-width: 100%;
    }
}

@media (max-width: 576px) {
    .navbar {
        text-align: center;
        display: block;
        padding: 5px;
        width: 100%;
    }
    .nav-links {
        display: block;
        padding: 5px;
        width: 100%;
    }

    .banner {
        display: block;
        width: fit-content;
        padding: 5px;
    }
    .virtical-text {
        position: static;
        writing-mode: horizontal-tb;
        margin: 5px auto;
    }
    .banner-text button {
        margin: 20px 50%;
        width: 150px;
    }
    .banner-img img {
        width: 100%;
    }
    .about {
        display: block;
        width: fit-content;
    }
    .about img {
        width: 100%;
    }
    .statistics {
        width: 100%;
        display: block;
        text-align: center;
        
    }
    .statistics div {
        width: 100%;
    }
    .works {
        width: 100%;
    }
    .works-title {
        width: 100%;
        display: block;
    }
    .works-boxes {
        width: 100%;
        display: block;
        margin: 10px auto;
    }
    .works-boxes div {
        margin: 10px auto;
    }

    .services-boxes {
        width: 100%;
        display: block;
    }
    .main-column {
        width: 100%;
    }
    .side-column {
        width: 100%;
    }
    .featured {
        display: block;
        width: 100%;
    }
  
    .card-img {
        width: 100%;
    }
    .opinines {
        width: fit-content;
       }
       .opinines-box {
        display: block;
       }
       .opinion{
        max-width: 100%;
        margin: 5px auto;
       }
       .team {
        width: fit-content;
       }
       .team-box {
        display: block;
        width: 100%;
        
       }
       .team-box div{
       width: 100%;
       margin: 5PX auto;
       text-align: center;
       }
       .head-title {
        display: block;
        max-width: 100%;
       }
       .clenets-title {
        display: block;
        max-width: 100%;
       }
       .sections {
        width: fit-content;
        display: block;
     }
    .sections div {
        max-width: 100%;
    }
}